.adminAuthContainer {
  max-width: 400px;
  height: 100%;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  font-family: Arial, sans-serif;
}

.adminAuthBox {
  text-align: center;
}

h2 {
  margin-bottom: 20px;
}

.formGroup {
  margin-bottom: 15px;
  text-align: left;
}

.forlabel {
  display: block;
  margin-bottom: 5px;
}

.forinput {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
}

.error {
  color: red;
  text-align: center;
  margin-bottom: 10px;
}

.success {
  color: green;
  text-align: center;
  margin-bottom: 10px;
}

.authButton {
  width: 100%;
  padding: 10px;
  background-color: #4CAF50;
  color: white;
  border: none;
  cursor: pointer;
  margin-top: 10px;
}

.authButton:hover {
  background-color: #45a049;
}

.toggleText {
  margin-top: 10px;
  cursor: pointer;
  color: blue;
  text-decoration: underline;
  font-size: small;
  
}
